---

---

<!-- Footer Component -->
<footer
    class="w-full py-stack-sm border-t border-outline-variant bg-surface-container-lowest mt-12"
>
    <div
        class="flex flex-col md:flex-row justify-between items-center px-gutter gap-4 max-w-container-max mx-auto"
    >
        <div
            class="font-headline-lg text-sm sm:text-lg md:text-[24px] text-on-surface text-center md:text-left"
        >
            ©2025 AKBAR // DATA_ARCHITECT_STRATEGIST // ALL_RIGHTS_RESERVED
        </div>
        <div class="flex flex-wrap justify-center gap-4 md:gap-6 mt-4 md:mt-0">
            <a
                class="font-label-mono text-label-mono text-on-surface-variant hover:text-primary transition-colors active:opacity-80"
                href="#">TERMINAL</a
            >
            <a
                class="font-label-mono text-label-mono text-on-surface-variant hover:text-primary transition-colors active:opacity-80"
                href="#">SYSTEM_STATUS</a
            >
            <a
                class="font-label-mono text-label-mono text-on-surface-variant hover:text-primary transition-colors active:opacity-80"
                href="#">RESOURCES</a
            >
            <a
                class="font-label-mono text-label-mono text-on-surface-variant hover:text-primary transition-colors active:opacity-80"
                href="#">PRIVACY_ENCRYPTION</a
            >
        </div>
    </div>
</footer>
